@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body{
    background-color: brown;
    color: beige;
    font-family: "playfair,Display"; serif;
    color:black
    backgraund-color:antiquewhite
}
h1 { text-align: center;
    font-weight: 100;
    font-size: 40px;

} 
nav{text-align: center;}

a{color: blanchedalmond;
text-decoration: line-through;
}
